body {
	width: 1000px;
	margin: auto;
	font-family: arial, sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

li {
	list-style-type: none;
	display: inline-block;
	margin: 20px;
}

li a {
	text-decoration: none;
	color: black;
}

a:hover {
	font-size: 18px;
}

#moi {
	width: 400px;
	height: 490px;
	float: left;
	margin-right: 50px;
}