/* Apparence générale début */

* {
	margin: auto;
	padding: auto;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 20px;
}

h1 {
	text-align: center;
	font-family: 'Lobster', sans-serif;
	font-size: 3.5em;
	margin-bottom: 50px;
	color: black;
	text-shadow: 2px 2px 2px gray;
}

ul {
	text-align: center;
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	background-color: #d5af79;
	padding-top: 10px;
	padding-bottom: 10px;
}

li {
	list-style-type: none;
	display: inline;
	margin: 20px;
	text-align: center;
}

li a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: 	#FFD700;
	transform: scale(1.0);
}

main {
	margin-top: 100px;
}

p {
	font-size: 1.2em;
}

footer {
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 150px;
	background-color: #d5af79;
	color: white;
}

.pieddepage {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.site_pied_de_page {
	text-decoration: none;
	color: white;
}

/* Apparence généarle fin */
/* ----------------------------------------------------- */
/* Page "Accueil" début */

#quisuisje {
	width: 1300px;
}

#moi {
	width: 400px;
	height: 490px;
	float: left;
	margin-right: 50px;
}

#presentation {
	text-align: justify;
}

#stellartfilms {
	color: #d5af79;
	text-decoration: none;
}

#stellartfilms:hover {
	color: 	#FFD700;
}

#reseaux_sociaux {
	width: 350px;
	margin-left: 450px;
	display: flex;
}

.reseaux:hover {
	transform: scale(1.2);
}

/* Page "Accueil" fin */
/* ----------------------------------------------------- */
/* Page "CV" début */

#cv {
	width: 1300px;
}

.experience {
	margin-left: 50px;
}

.titre {
	color: #d5af79;
}

.titre a {
	color: #d5af79;
}

.titre a:hover {
	color: #FFD700;
}

/* Page "CV" fin */
/* ----------------------------------------------------- */
/* Page "Book" début */

#modele {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 1300px;
}

.modele {
	width: 300px;
	height: 449px;
	position: relative;
}

.modele:hover {
	opacity: 0.3;
}

/* Page "Book" fin */
/* ----------------------------------------------------- */
/* Page "Photos de tournages" début */

.tournage {
	width: 500px;
	height: 333px;
}

.tournage1 {
	width: 500px;
	height: 225px;
}

.tournage:hover, .tournage1:hover {
	opacity: 0.3;
}

#tournages {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 1300px;
}

/* Page "Photos de tournages" fin */
/* ----------------------------------------------------- */
/* Page "Contact" début */

.contact {
	margin: auto;
	margin-top: 100px;
	display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 50px;
    width: 400px;
}

textarea {
	width: 400px;
}

/* Page "Contact" fin */
/* ----------------------------------------------------- */
/* Responsive début */

@media screen and (max-width: 375px) {
	body {
		display: flex;
		flex-wrap: wrap;
	}

	p {
		display: flex;
		flex-wrap: wrap;
	}

	#reseaux_sociaux {
		display: flex;
		flex-wrap: wrap;
	}

	.modele {
		display: flex;
		flex-wrap: wrap;
	}

	.tournages {
		display: flex;
		flex-wrap: wrap;
	}
}


@media screen and (max-width: 768px) {
	body {
		display: flex;
		flex-wrap: wrap;
	}

	#reseaux_sociaux {
		display: flex;
		flex-wrap: wrap;
	}

	.modele {
		display: flex;
		flex-wrap: wrap;
	}

	.tournages {
		display: flex;
		flex-wrap: wrap;
	}
}

/* Responsive fin */