/* Général début */

body {
	width: 1000px;
	margin: auto;
	font-family: Trebuchet MS, sans-serif;
}

h1 {
	text-align: center;
	font-family: 'Lobster', cursive, sans-serif;
	font-size: 3em;
}

ul {
	text-align: center;
	font-size: 1.2em;
	font-family: impact, sans-serif;
}

li {
	list-style-type: none;
	display: inline-block;
	margin: 20px;
	text-align: center;
}

li a {
	text-decoration: none;
	color: black;
}

a:hover {
	font-size: 1.2em;
	color: royalblue;
}

main {
	margin-top: 100px;
}

p {
	font-size: 1.2em;
}

/* Généarl fin*/

/* -----------------------------------------------------*/

/* Page "Qui suis-je ?" début*/

#moi {
	width: 400px;
	height: 490px;
	float: left;
	margin-right: 50px;
}

#presentation {
	text-align: justify;
}

/* Page "Qui suis-je ?" fin*/


/* -----------------------------------------------------*/


/* Page "Contact" début */

textarea {
	width: 500px;
	height: 300px;
}

/* Page "Contact" fin */